@import 'variables';
@import 'mixins';

#wrap-about {
	
	h1 {
		&.title {
			color: #000000;
			font-size: 45px;
			font-weight: bold;
			margin: 0px;
		}
	}

	#what-we-do {
		padding-top: 120px;
		text-align: center;
		margin-bottom: 70px;
	}

	#acmoto {
		  background-color: #1a1a1a;
		  text-align: center;
		  color: #FFFFFF;

		  h2 {
		  	font-size: 24px;
		  	font-weight: bold;
		  }
		  p {
		  	  font-style: italic;
		  }

		#acmoto-carousel {
			padding: 40px 0px;
			h2 {
				margin: 0px 0px 15px;
			}
			p {
				margin: 0px;
			}
			.owl-controls {
				.owl-pagination {
					.owl-page {
						span {
							opacity: 1;
							height: 22px;
							width: 22px;
							border: 2px solid;
							border-color: white;
							background: none;
						}
						&.active span {
							background: $base_color;
							border-color: $base_color;
						}
					}
				}
			}	
		}
	}

	#leadership {

		#external-leadership-container {
			position: absolute;
			left: 50%;
		}

		#internal-leadership-container {
			position: relative;
			left: -50%;
			top: 50px;
		}
	
		h4 {
			font-weight: bold;
			font-size: 25px;
			margin-bottom: 0px;
		}

		.about_box {
			color: #FFFFFF;
			opacity: 0.7;
			background-color: #000000;
			overflow: auto;
			position: absolute;
			top: 75px;
			width: 40%;
			padding: 5px 15px;

			p {
				font-size: 16px;
			}
		}

		#about_zeo {
			right: 0;
		}

		#amir_button {
			color: #FFFFFF;
		}

		#zeo_button {
			text-align: right;
		}

		#leadership_img {
			width: 100%;
			z-index: -999;
		}

	}

	#team {
		text-align: center;
		padding-top: 50px;

		.row {
			display: table;
		}
		.col-md-3 {
			display: table-cell;
			float: none;
		}

		#team_brazil {
			clear: both;
			padding-top: 30px;
		}
		
		.bio {
			.hexagon-social {
				position: absolute;
				height: 150px;
				width: 150px;
				display: none;

				a {
					margin-top: 82px;
					color: #FFFFFF;
					position: relative;
					z-index: 10;
					padding: 5px;

					&:hover {
						color: #346DA6;
						text-decoration: none;
					}
				}
			}
			.hexagon-mask  {
				&:hover {
					.hexagon-social {
						display: block;
					}
				}
			}
			.name {
				font-weight: bold;
				font-size: 20px;
			}
			.job {
				font-style: italic;
			}
			.whoiam {
				font-size: 15px;
				color: #999999;
				line-height: 20px;
				padding: 0px 35px;
			}
		}

		.team_message {
			  display: table-cell;
			  float: none;
			  vertical-align: middle;
			.number_of_members {
				font-size: 80px;
			}
			.message {
				font-size: 18px;
			}
		}
	}

}