@import 'variables';
@import 'mixins';

#wrap-careers {
	#want-to-join {
		text-align: center;
		background: #DDDDDD;
		padding: 45px 0px 20px;

		.want-to-join-box {
			.want-to-join-img-box {
				overflow: hidden;
				max-height: 190px;
				.want-to-join-img {
					width: 100%;
				}
			}

			.want-to-join-inner-box {
				background: #FFFFFF;
				text-align: left;
				padding: 20px;

				.want-to-join-title {
					font-weight: bold;
					font-size: 22px;
					margin: 0px 0px 10px;
				}

				.want-to-join-description {
					line-height: 24px;
				}

				.want-to-join-btn {
					margin-bottom: 10px;
					&:last-child {
						margin-bottom: 0px;
					}
				}
			}
		}
	}

	#main-new {
		#main-new-bg-div {
			background-position: top center;
			text-align: center;
			padding: 40px 0px 0px;

			.subtitle {
				margin: -15px 0px 0px;
			}

			#main-new-white-box {
				text-align: left;
				background: #FFFFFF;
				opacity: 0.8;
				padding: 10px;
				margin: 50px 0px 30px;
			}
		}

		#main-new-banner {
			font-size: 0px;
			.main-new-banner-img {
				width: 25%;
				height: auto;
			}
		}
	}

	#open-positions {
		text-align: center;
		padding: 45px 0px;

		.open-position-location-item {
			padding: 0px 30px;
		}
		.open-position-location-link {
			width: 160px;
		}

		#jobs-table {
			width: 80%;
			margin: 0 auto;
		
			.jobs-row {

				&:hover {
					background: $base_color;
					cursor: pointer;

					.show-details {
						color: #FFF;
						font-weight: bold;

						&:hover {
							text-decoration: none;
						}
					}
				}

				.show-details {
					color: #000;
				}

				.jobs-title-column {
					padding-left: 10px;
					text-align: left;
				}

				.jobs-location-column {
					padding-right: 10px;
					text-align: right;
				}
			}
		}

		#job-details {
			display: none;
			width: 80%;
			margin: 0 auto;

			#job-title {
				color: $base_color;
			}

			#job-description {
				text-align: left;
				text-decoration: none;

				strong {
					color: $base_color;

				}

				U {
					text-decoration: none;
				}
			}

			#back-apply-btn {
				float: left;
				margin-top: 10px;

				#back-to-table {
					margin-right: 10px;
				}
			}

			.jobShareBtn {
				float: right;
			}
		}
	}

	#working-at-ac {
		text-align: center;
		padding: 40px 0px 0px;

		#working-at-ac-filters {
			ul {
				text-align: center;
				margin-top: 20px;
				margin-bottom: 20px;
				li {
					padding: 5px 20px;
					display: inline-block;
					&.active {
						a {
							background: $base_color;
							color: #FFF;
							&:hover {
								color: #FFF;
							}
						}
					}
					a {
						color: #999;
						display: block;
						padding: 2px 12px;
						background-color: #F5F4F4;
						text-decoration: none;
						&:hover {
							text-decoration: none;
							color: $base_color;
						}
					}
				}
			}
		}

		#working-at-ac-isotopes {
			text-align: center;
			.working-at-ac-item {
				width: 25%;

				img {
					width: 100%;
				}

				.working-at-ac-hover {
					background-color: rgba(45, 63, 81, 0.8);
					-webkit-transition: opacity .4s ease;
					transition: opacity .4s ease;
					opacity: 0;
					filter: alpha(opacity=0);
					padding: 20px;
					position: absolute;
					width: 100%;
					height: 100%;
					display: block;

					.table {
						height: 100%;
						display: table;

						.middle {
							vertical-align: middle;
							display: table-cell;

							.description {
								font-size: 23px;
								color: #FFF;
							}
						}
					}
				}

				&:hover .working-at-ac-hover {
					opacity: 1;
				}
			}
		}
	}
}