@import 'variables';
@import 'mixins';

#wrap-code-highway {
	#blog {
		text-align: center;
		padding-top: 45px;
	}

	#code-highway-isotopes {
		.code-highway-item {
			width: 50%;
			padding: 0px 30px;
			text-align: left;
			margin-bottom: 25px;

			.code-highway-item-link {
				&:hover {
					text-decoration: none;
					opacity: 0.7;
				}
			}

			.code-highway-img {
				height: auto;
				max-width: 100%;
			}

			.blogItemTitle {
				font-size: 25px;
				padding: 15px 10px;
				border-bottom: 2px #000000 solid;
				text-transform: uppercase;
				color: #FFFFFF;
				&.baseBackground {
					background: $base_color;
				}
				&.orangeBackground {
					background: #F57620;
				}
			}

			.blogItemDate {
				color: #000000;
				font-size: 19px;
				padding: 10px 0px;
			}

			.blogItemExcerpt {
				color: #000000;
				font-size: 17px;
  				line-height: 24px;
  				border-bottom: 2px #000000 solid;
			}
		}
	}

	#code-highway-filters {
		margin-left: 50px;
		position: fixed;
		min-width: 230px;
		top: 40%;

		#code-highway-filters-title {
			margin: 0px 0px 30px;
			font-size: 25px;
			font-weight: bold;
		}

		.code-highway-filters-item {
			margin-bottom: 10px;

			&.active {
				opacity: 0.8;
			}
		}
		.code-highway-filters-link {
			width: 100%;
		}
	}
}