@import 'variables';
@import 'mixins';

#wrap-contact {
	#head {
		padding-top: 100px;
		text-align: center;
		

		#intro {
			font-size: 23px;
			margin-top: -20px;
		}
	}

	#location-menu {
		padding: 30px 0px;
		text-align: center;
		font-size: 22px;
		.location-item {
			padding: 0px 40px;
		}
		
		.location-link {
			color: $base_color;
			&:hover {
				text-decoration: none;
				cursor: pointer;
				opacity: 0.6;
			}
		}

		.location-link-active {
			font-weight: bold;
		}
	}

	#gmap {
		#gmail-overlay {
			background-color: rgba(255, 255, 255, 0.5);
			position: absolute;
			width: 100%;
			display: table;
			height: 380px;

			#button-div {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}
		}
	}
}