@import 'variables';

footer {
	background: #1A1A1A;
  	color: #FFF;
	padding: 20px 0;

	.social-icons {
		float: right;
		list-style: none;
		margin-bottom: 0px;
		li {
			float: left;
  			margin-right: 25px;

  			&:last-child {
  				margin-right: 0px;
  			}

  			a {
  				color: #AAA;
  				font-size: 30px;
				opacity: 0.8;
				-webkit-transition: all 300ms ease-in-out;
				-moz-transition: all 300ms ease-in-out;
				-o-transition: all 300ms ease-in-out;
				transition: all 300ms ease-in-out;

				&:hover {
					opacity: 1;
					.fa-facebook {
						color: #3B5998;
					}
					.fa-twitter {
						color: #55ACEE;	
					}
					.fa-google-plus {
						color: #DD4B39;
					}
					.fa-linkedin {
						color: #0E76A8;
					}
					.fa-youtube-play {
						color: #C4302B;
					}
					.fa-flickr {
						color: #0063DC;
					}
				}

  			}
		}
	}
}