@import 'variables';

.header {
	.owl-controls {
		margin: 0px;
		position: relative;
		top: -130px;
		height: 0px;
		.owl-pagination {
			.owl-page {
				span {
					opacity: 1;
					height: 22px;
					width: 22px;
					border: 2px solid;
					border-color: white;
					background: none;
				}
				&.active span {
					background: $base_color;
					border-color: $base_color;
				}
			}
		}
	}
}