@import 'variables';
@import 'mixins';

#wrap-home {
	text-align: center;

	.home-cover-header {
		position: absolute;
	 	z-index: 999;
	  	left: 0px;
	  	right: 0px;
	  	top: 30px;

	  	.title-box {
	  		background-color: black;
			opacity: 0.6;
			height: 220px;

			h1 {
				font-weight: bold;
			  	font-size: 45px;
			  	color: #FFF;
			  	margin-top: 0px;	
			 	position: relative;
				top: 65px; 
			}

			p {
				font-size: 20px;
				color: #FFF;
				position: relative;
				top: 70px
			}
	  	}
	}
	
	h1 {
		&.title {
			color: #000000;
			font-size: 45px;
			font-weight: bold;
			margin: 0px;
		}
	}

	#what-we-do {
		padding-top: 120px;
	}

	#services-menu {
		padding-top: 80px;
	}

	#clients {
		padding-top: 80px;
		
		.border-title {
			margin-bottom: 20px;
		}

		.subtitle {
			color: $base_color;
			font-size: 20px;
		}

		#clients-partners-filters {
			ul {
				text-align: center;
				margin-top: 20px;
				margin-bottom: 20px;
				li {
					padding: 5px 20px;
					display: inline-block;
					&.active {
						a {
							background: $base_color;
							color: #FFF;
							&:hover {
								color: #FFF;
							}
						}
					}
					a {
						color: #999;
					  	display: block;
					  	padding: 2px 12px;
					  	background-color: #F5F4F4;
					  	text-decoration: none;
					  	&:hover {
					  		text-decoration: none;
					  		color: $base_color;
					  	}
					}
				}
			}
		}

		#clients-partners-isotopes {
			.clients-partners-item {
				width: 25%;

				img {
					width: 100%;
				}

				.clients-partners-hover {
					background-color: rgba(45, 63, 81, 0.8);
					-webkit-transition: opacity .4s ease;
					transition: opacity .4s ease;
					opacity: 0;
					filter: alpha(opacity=0);
					padding: 20px;
					position: absolute;
					width: 100%;
					height: 100%;
					display: block;

					.table {
						height: 100%;
						display: table;

						.middle {
							vertical-align: middle;
							display: table-cell;

							.description {
								font-size: 23px;
								color: #FFF;
							}
						}
					}
				}

				&:hover .clients-partners-hover {
					opacity: 1;
					filter: alpha(opacity=100);
				}
			}
		}
	}

}