@import 'variables';

.wrap-menu {
	background: $base_color;

	.navbar {
		margin: 0px;

		.navbar-brand {
			height: auto;
			padding: 0px;
		}
	}

	a {
		color: #FFF;
	}

	.menu-item {
		text-transform: uppercase;
		a:hover {
			background: #80D6E8;
			opacity: 0.8;
		}
	}

	ul.navbar-nav {
		border-bottom: 1px solid #FFF;
		padding: 0px 20px;
	}

	#white-logo {
		width: 76px;
		height: auto;
	}

} 