@import 'variables';

#wrap-menu {
	background: $base_color;

	&.affix {
		z-index: 999;
		width: 100%;
		top: 0;
	}

	.navbar {
		margin: 0px;

		.navbar-brand {
			height: auto;
			padding: 0px;
		}
	}

	a {
		color: #FFF;
	}

	.menu-item {
		text-transform: uppercase;
		a:hover {
			background: #80D6E8;
			opacity: 0.8;
		}
	}

	#menu-underline {
		border-bottom: 1px solid #FFF;
		border-top: none;
		clear: both;
		margin: 0px;
	}

	.submenu-item {
		text-transform: lowercase;

		&.active {
			border-top: 2px solid #FFF;
		}

		&:hover {
			cursor: pointer;
		}

		a:hover {
			background-color: #80D6E8;
			opacity: 0.8;
		}
	}

	#main-menu {
		padding: 0px 20px;
	}

	#submenu {
		clear: both;
		padding: 0px;
	}

	#white-logo {
		width: 76px;
		height: auto;
	}

} 