@import 'variables';
@import 'mixins';

#wrap-press {
	.header {
		padding-top: 40px;
		text-align: center;
	}

	#releases {
		padding-bottom: 30px;
	}

	.release-excerpt {
		color: #606060;
		font-style: italic;
	}

	.release-read-more-div {
		text-align: right;

	}
}