@import 'variables';
@import 'mixins';

#wrap-single-client-partners {

	#client-partners-post-title {
		text-align: center;
		padding-top: 20px;

		.border-title {
			margin-top: 20px;
			margin-bottom: 30px;
		}
	}

	#client-partners-post-content {
		margin-bottom: 20px;
	}

	#div-back-button {
		margin-bottom: 40px;	
	}

}