@import 'variables';
@import 'mixins';

.nav-overwrited {
	list-style: none;

	& > li {
		position: relative;
		display: block;

		a {
			position: relative;
			display: block;
	  		padding: 10px 15px;
		}

		a:hover {
			text-decoration: none;
		}
	}
}

.border-title {
	border-top: 2px solid #000;
	max-width: 300px;
	margin-top: 50px;
	margin-bottom: 55px;
}

h1 {
	&.title {
		color: #000000;
		font-size: 45px;
		font-weight: bold;
		margin: 0px;
	}
}

h3 {
	&.subtitle {
		font-size: 20px;
	}
}

.hexagon-services, .hexagon-profile {
	.hexagon-mask {
		margin: 40px auto 0;
		position: relative;
		width: 150px;
		height: 150px;
		overflow: hidden;
		cursor: pointer;

		img {
			height: 150px;
		}

		.mask {
			background: transparent url(../../images/hexagon-mask-full.png) repeat center center;
			-webkit-transition: -webkit-transform 300ms ease-out;
			-moz-transition: -moz-transform 300ms ease-out;
			-o-transition: -o-transform 300ms ease-out;
			transition: transform 300ms ease-out;
			position: absolute;
			z-index: 4;
			display: block;
			width: 300px;
			height: 300px;
			left: -50%;
			top: -50%;
			pointer-events: none;
			zoom: 1;
		}

		&:hover .mask {
			@include rotate(30deg);
		}

		.mask-bg {
			display: none;
			width: 100%;
			height: 100%;
			position: absolute;
			opacity: 0.5;
			background-color: #000000;
		}

		&:hover .mask-bg {
			display: block;
		}

	}

	h3 {
		font-size: 21px;
		font-weight: bold;
		color: $services_grey;
	}

	p {
		font-size: 16px;
		margin-bottom: 30px;
		color: $services_grey;
	}

}

.btn {
	@include border-radius(0px);
	font-weight: bold;
	font-family: "PT Sans Caption", sans-serif;
	position: relative;
	color: #FFF;
	line-height: 1.618em;
	&:hover {
		color: #FFF;
		text-decoration: none;
		opacity: 0.6;
	}

	&:after {
		display: block;
		content: "";
		top: 0px;
		right: -7px;
		position: absolute;
		height: 100%;
		width: 4px;
		border: 1px solid transparent;
	}

	&.back-btn {
		padding: 5px 20px;
		.back {
			margin-right: 7px;
		}
	}
}

.num {
	font-size: 1.1em;
	color: #FFFFFF;
	font-weight: bold;
	width: 33px;
	height: 33px;
	padding: 5px;
	@include border-radius(20px);
	position: absolute;
	right: 21px;
	bottom: 3px;
	z-index: 99999;
}
//Number Colors
.num-blue, .btn-blue, .btn-blue:hover, .btn-blue:after {
	background-color: #15639E;
}
.num-orange, .btn-carrot, .btn-carrot:hover, .btn-carrot:after {
	background-color: #E05E15;
}
.num-grey, .btn-grey, .btn-grey:hover, .btn-grey:after {
	background-color: #3C414C;
}
.num-red, .btn-red, .btn-red:hover, .btn-red:after {
	background-color: #8F1612;
}

#clients-partners-isotopes-section {
	padding-top: 80px;
	text-align: center;
	
	.border-title {
		margin-bottom: 20px;
	}

	.subtitle {
		color: $base_color;
		font-size: 20px;
	}

	#clients-partners-filters {
		ul {
			text-align: center;
			margin-top: 20px;
			margin-bottom: 20px;
			li {
				padding: 5px 20px;
				display: inline-block;
				&.active {
					a {
						background: $base_color;
						color: #FFF;
						&:hover {
							color: #FFF;
						}
					}
				}
				a {
					color: #999;
					display: block;
					padding: 2px 12px;
					background-color: #F5F4F4;
					text-decoration: none;
					&:hover {
						text-decoration: none;
						color: $base_color;
					}
				}
			}
		}
	}

	#clients-partners-isotopes {
		text-align: center;
		.clients-partners-item {
			width: 25%;

			img {
				width: 100%;
			}

			.clients-partners-hover {
				background-color: rgba(45, 63, 81, 0.8);
				-webkit-transition: opacity .4s ease;
				transition: opacity .4s ease;
				opacity: 0;
				filter: alpha(opacity=0);
				padding: 20px;
				position: absolute;
				width: 100%;
				height: 100%;
				display: block;

				.table {
					height: 100%;
					display: table;

					.middle {
						vertical-align: middle;
						display: table-cell;

						.description {
							font-size: 23px;
							color: #FFF;
						}
					}
				}
			}

			&:hover .clients-partners-hover {
				opacity: 1;
			}
		}
	}
}