#wrap-about #what-we-do {
  padding-top: 120px;
  text-align: center;
  margin-bottom: 70px; }
#wrap-about #acmoto {
  background-color: #1a1a1a;
  text-align: center;
  color: #FFFFFF; }
  #wrap-about #acmoto h2 {
    font-size: 24px;
    font-weight: bold; }
  #wrap-about #acmoto p {
    font-style: italic; }
  #wrap-about #acmoto #acmoto-carousel {
    padding: 40px 0px; }
    #wrap-about #acmoto #acmoto-carousel h2 {
      margin: 0px 0px 15px; }
    #wrap-about #acmoto #acmoto-carousel p {
      margin: 0px; }
    #wrap-about #acmoto #acmoto-carousel .owl-controls .owl-pagination .owl-page span {
      opacity: 1;
      height: 22px;
      width: 22px;
      border: 2px solid;
      border-color: white;
      background: none; }
    #wrap-about #acmoto #acmoto-carousel .owl-controls .owl-pagination .owl-page.active span {
      background: #0b86a0;
      border-color: #0b86a0; }
#wrap-about #leadership #external-leadership-container {
  position: absolute;
  left: 50%; }
#wrap-about #leadership #internal-leadership-container {
  position: relative;
  left: -50%;
  top: 50px; }
#wrap-about #leadership h4 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 0px; }
#wrap-about #leadership .about_box {
  color: #FFFFFF;
  opacity: 0.7;
  background-color: #000000;
  overflow: auto;
  position: absolute;
  top: 75px;
  width: 40%;
  padding: 5px 15px; }
  #wrap-about #leadership .about_box p {
    font-size: 16px; }
#wrap-about #leadership #about_zeo {
  right: 0; }
#wrap-about #leadership #amir_button {
  color: #FFFFFF; }
#wrap-about #leadership #zeo_button {
  text-align: right; }
#wrap-about #leadership #leadership_img {
  width: 100%;
  z-index: -999; }
#wrap-about #team {
  text-align: center;
  padding-top: 50px; }
  #wrap-about #team .row {
    display: table; }
  #wrap-about #team .col-md-3 {
    display: table-cell;
    float: none; }
  #wrap-about #team #team_brazil {
    clear: both;
    padding-top: 30px; }
  #wrap-about #team .bio .hexagon-social {
    position: absolute;
    height: 150px;
    width: 150px;
    display: none; }
    #wrap-about #team .bio .hexagon-social a {
      margin-top: 82px;
      color: #FFFFFF;
      position: relative;
      z-index: 10;
      padding: 5px; }
      #wrap-about #team .bio .hexagon-social a:hover {
        color: #346DA6;
        text-decoration: none; }
  #wrap-about #team .bio .hexagon-mask:hover .hexagon-social {
    display: block; }
  #wrap-about #team .bio .name {
    font-weight: bold;
    font-size: 20px; }
  #wrap-about #team .bio .job {
    font-style: italic; }
  #wrap-about #team .bio .whoiam {
    font-size: 15px;
    color: #999999;
    line-height: 20px;
    padding: 0px 35px; }
  #wrap-about #team .team_message {
    display: table-cell;
    float: none;
    vertical-align: middle; }
    #wrap-about #team .team_message .number_of_members {
      font-size: 80px; }
    #wrap-about #team .team_message .message {
      font-size: 18px; }
#wrap-about #culture {
  padding-top: 35px;
  text-align: center; }
  #wrap-about #culture h3.subtitle {
    font-style: italic; }
  #wrap-about #culture #content {
    margin-top: 40px;
    text-align: left;
    line-height: 22px; }
    #wrap-about #culture #content .culture-keyword {
      color: #0b86a0;
      margin-bottom: 0; }
#wrap-about #beginning {
  background: #DDDDDD;
  padding: 40px 0px;
  text-align: justify;
  line-height: 28px; }
  #wrap-about #beginning .subtitle {
    font-weight: bold;
    font-size: 25px; }
  #wrap-about #beginning #brPhotosContainer {
    padding-top: 55px; }
    #wrap-about #beginning #brPhotosContainer .brBeginningPhoto {
      margin-bottom: 35px; }
#wrap-about #here-we-are {
  padding-top: 35px;
  text-align: center; }
  #wrap-about #here-we-are #header {
    margin-bottom: 60px; }
  #wrap-about #here-we-are #make_inovation {
    background: #009EE0;
    color: #FFFFFF;
    padding: 50px 0px; }
    #wrap-about #here-we-are #make_inovation .text {
      margin: 0px;
      font-weight: bold;
      font-size: 60px; }
#wrap-about #events, #wrap-about #press {
  text-align: center;
  padding-top: 35px;
  margin-bottom: 40px; }
  #wrap-about #events .content, #wrap-about #press .content {
    margin-bottom: 30px; }
  #wrap-about #events .post_title, #wrap-about #press .post_title {
    color: #000000; }
  #wrap-about #events .details, #wrap-about #press .details {
    color: #606060; }
  #wrap-about #events .excerpt, #wrap-about #press .excerpt {
    color: #0b86a0; }
  #wrap-about #events .press_link:hover, #wrap-about #press .press_link:hover {
    text-decoration: none;
    color: #0b86a0;
    opacity: 0.6; }
