#wrap-careers #want-to-join {
  text-align: center;
  background: #DDDDDD;
  padding: 45px 0px 20px; }
  #wrap-careers #want-to-join .want-to-join-box .want-to-join-img-box {
    overflow: hidden;
    max-height: 190px; }
    #wrap-careers #want-to-join .want-to-join-box .want-to-join-img-box .want-to-join-img {
      width: 100%; }
  #wrap-careers #want-to-join .want-to-join-box .want-to-join-inner-box {
    background: #FFFFFF;
    text-align: left;
    padding: 20px; }
    #wrap-careers #want-to-join .want-to-join-box .want-to-join-inner-box .want-to-join-title {
      font-weight: bold;
      font-size: 22px;
      margin: 0px 0px 10px; }
    #wrap-careers #want-to-join .want-to-join-box .want-to-join-inner-box .want-to-join-description {
      line-height: 24px; }
    #wrap-careers #want-to-join .want-to-join-box .want-to-join-inner-box .want-to-join-btn {
      margin-bottom: 10px; }
      #wrap-careers #want-to-join .want-to-join-box .want-to-join-inner-box .want-to-join-btn:last-child {
        margin-bottom: 0px; }
#wrap-careers #main-new #main-new-bg-div {
  background-position: top center;
  text-align: center;
  padding: 40px 0px 0px; }
  #wrap-careers #main-new #main-new-bg-div .subtitle {
    margin: -15px 0px 0px; }
  #wrap-careers #main-new #main-new-bg-div #main-new-white-box {
    text-align: left;
    background: #FFFFFF;
    opacity: 0.8;
    padding: 10px;
    margin: 50px 0px 30px; }
#wrap-careers #main-new #main-new-banner {
  font-size: 0px; }
  #wrap-careers #main-new #main-new-banner .main-new-banner-img {
    width: 25%;
    height: auto; }
#wrap-careers #open-positions {
  text-align: center;
  padding: 45px 0px; }
  #wrap-careers #open-positions .open-position-location-item {
    padding: 0px 30px; }
  #wrap-careers #open-positions .open-position-location-link {
    width: 160px; }
  #wrap-careers #open-positions #jobs-table {
    width: 80%;
    margin: 0 auto; }
    #wrap-careers #open-positions #jobs-table .jobs-row:hover {
      background: #0b86a0;
      cursor: pointer; }
      #wrap-careers #open-positions #jobs-table .jobs-row:hover .show-details {
        color: #FFF;
        font-weight: bold; }
        #wrap-careers #open-positions #jobs-table .jobs-row:hover .show-details:hover {
          text-decoration: none; }
    #wrap-careers #open-positions #jobs-table .jobs-row .show-details {
      color: #000; }
    #wrap-careers #open-positions #jobs-table .jobs-row .jobs-title-column {
      padding-left: 10px;
      text-align: left; }
    #wrap-careers #open-positions #jobs-table .jobs-row .jobs-location-column {
      padding-right: 10px;
      text-align: right; }
  #wrap-careers #open-positions #job-details {
    display: none;
    width: 80%;
    margin: 0 auto; }
    #wrap-careers #open-positions #job-details #job-title {
      color: #0b86a0; }
    #wrap-careers #open-positions #job-details #job-description {
      text-align: left;
      text-decoration: none; }
      #wrap-careers #open-positions #job-details #job-description strong {
        color: #0b86a0; }
      #wrap-careers #open-positions #job-details #job-description U {
        text-decoration: none; }
    #wrap-careers #open-positions #job-details #back-apply-btn {
      float: left;
      margin-top: 10px; }
      #wrap-careers #open-positions #job-details #back-apply-btn #back-to-table {
        margin-right: 10px; }
    #wrap-careers #open-positions #job-details .jobShareBtn {
      float: right; }
#wrap-careers #working-at-ac {
  text-align: center;
  padding: 40px 0px 0px; }
  #wrap-careers #working-at-ac #working-at-ac-filters ul {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; }
    #wrap-careers #working-at-ac #working-at-ac-filters ul li {
      padding: 5px 20px;
      display: inline-block; }
      #wrap-careers #working-at-ac #working-at-ac-filters ul li.active a {
        background: #0b86a0;
        color: #FFF; }
        #wrap-careers #working-at-ac #working-at-ac-filters ul li.active a:hover {
          color: #FFF; }
      #wrap-careers #working-at-ac #working-at-ac-filters ul li a {
        color: #999;
        display: block;
        padding: 2px 12px;
        background-color: #F5F4F4;
        text-decoration: none; }
        #wrap-careers #working-at-ac #working-at-ac-filters ul li a:hover {
          text-decoration: none;
          color: #0b86a0; }
  #wrap-careers #working-at-ac #working-at-ac-isotopes {
    text-align: center; }
    #wrap-careers #working-at-ac #working-at-ac-isotopes .working-at-ac-item {
      width: 25%; }
      #wrap-careers #working-at-ac #working-at-ac-isotopes .working-at-ac-item img {
        width: 100%; }
      #wrap-careers #working-at-ac #working-at-ac-isotopes .working-at-ac-item .working-at-ac-hover {
        background-color: rgba(45, 63, 81, 0.8);
        -webkit-transition: opacity .4s ease;
        transition: opacity .4s ease;
        opacity: 0;
        filter: alpha(opacity=0);
        padding: 20px;
        position: absolute;
        width: 100%;
        height: 100%;
        display: block; }
        #wrap-careers #working-at-ac #working-at-ac-isotopes .working-at-ac-item .working-at-ac-hover .table {
          height: 100%;
          display: table; }
          #wrap-careers #working-at-ac #working-at-ac-isotopes .working-at-ac-item .working-at-ac-hover .table .middle {
            vertical-align: middle;
            display: table-cell; }
            #wrap-careers #working-at-ac #working-at-ac-isotopes .working-at-ac-item .working-at-ac-hover .table .middle .description {
              font-size: 23px;
              color: #FFF; }
      #wrap-careers #working-at-ac #working-at-ac-isotopes .working-at-ac-item:hover .working-at-ac-hover {
        opacity: 1; }
