#wrap-home {
  text-align: center; }
  #wrap-home .home-cover-header {
    position: absolute;
    z-index: 999;
    left: 0px;
    right: 0px;
    top: 30px; }
    #wrap-home .home-cover-header .title-box {
      background-color: black;
      opacity: 0.6;
      height: 220px; }
      #wrap-home .home-cover-header .title-box h1 {
        font-weight: bold;
        font-size: 45px;
        color: #FFF;
        margin-top: 0px;
        position: relative;
        top: 65px; }
      #wrap-home .home-cover-header .title-box p {
        font-size: 20px;
        color: #FFF;
        position: relative;
        top: 70px; }
  #wrap-home h1.title {
    color: #000000;
    font-size: 45px;
    font-weight: bold;
    margin: 0px; }
  #wrap-home #what-we-do {
    padding-top: 120px; }
  #wrap-home #services-menu {
    padding-top: 80px; }
