.wrap-menu {
  background: #0b86a0; }
  .wrap-menu .navbar {
    margin: 0px; }
    .wrap-menu .navbar .navbar-brand {
      height: auto;
      padding: 0px; }
  .wrap-menu a {
    color: #FFF; }
  .wrap-menu .menu-item {
    text-transform: uppercase; }
    .wrap-menu .menu-item a:hover {
      background: #80D6E8;
      opacity: 0.8; }
  .wrap-menu ul.navbar-nav {
    border-bottom: 1px solid #FFF;
    padding: 0px 20px; }
  .wrap-menu #white-logo {
    width: 76px;
    height: auto; }
