.border-title {
  border-top: 2px solid #000;
  max-width: 300px;
  margin-top: 50px;
  margin-bottom: 55px; }

h1.title {
  color: #000000;
  font-size: 45px;
  font-weight: bold;
  margin: 0px; }

h3.subtitle {
  font-size: 20px; }

.hexagon-services .hexagon-mask, .hexagon-profile .hexagon-mask {
  margin: 40px auto 0;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  cursor: pointer; }
  .hexagon-services .hexagon-mask img, .hexagon-profile .hexagon-mask img {
    height: 150px; }
  .hexagon-services .hexagon-mask .mask, .hexagon-profile .hexagon-mask .mask {
    background: transparent url(../../images/hexagon-mask-full.png) repeat center center;
    -webkit-transition: -webkit-transform 300ms ease-out;
    -moz-transition: -moz-transform 300ms ease-out;
    -o-transition: -o-transform 300ms ease-out;
    transition: transform 300ms ease-out;
    position: absolute;
    z-index: 4;
    display: block;
    width: 300px;
    height: 300px;
    left: -50%;
    top: -50%;
    pointer-events: none;
    zoom: 1; }
  .hexagon-services .hexagon-mask:hover .mask, .hexagon-profile .hexagon-mask:hover .mask {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg); }
  .hexagon-services .hexagon-mask .mask-bg, .hexagon-profile .hexagon-mask .mask-bg {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    background-color: #000000; }
  .hexagon-services .hexagon-mask:hover .mask-bg, .hexagon-profile .hexagon-mask:hover .mask-bg {
    display: block; }
.hexagon-services h3, .hexagon-profile h3 {
  font-size: 21px;
  font-weight: bold;
  color: #3C424D; }
.hexagon-services p, .hexagon-profile p {
  font-size: 16px;
  margin-bottom: 30px;
  color: #3C424D; }

.btn {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  font-weight: bold;
  font-family: "PT Sans Caption", sans-serif;
  position: relative;
  color: #FFF;
  line-height: 1.618em; }
  .btn:hover {
    color: #FFF;
    text-decoration: none;
    opacity: 0.6; }
  .btn:after {
    display: block;
    content: "";
    top: 0px;
    right: -7px;
    position: absolute;
    height: 100%;
    width: 4px;
    border: 1px solid transparent; }
  .btn.back-btn {
    padding: 5px 20px; }
    .btn.back-btn .back {
      margin-right: 7px; }

.num {
  font-size: 1.1em;
  color: #FFFFFF;
  font-weight: bold;
  width: 33px;
  height: 33px;
  padding: 5px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  position: absolute;
  right: 21px;
  bottom: 3px;
  z-index: 99999; }

.num-blue, .btn-blue, .btn-blue:hover, .btn-blue:after {
  background-color: #15639E; }

.num-orange, .btn-carrot, .btn-carrot:hover, .btn-carrot:after {
  background-color: #E05E15; }

.num-grey, .btn-grey, .btn-grey:hover, .btn-grey:after {
  background-color: #3C414C; }

.num-red, .btn-red, .btn-red:hover, .btn-red:after {
  background-color: #8F1612; }

#clients-partners-isotopes-section {
  padding-top: 80px;
  text-align: center; }
  #clients-partners-isotopes-section .border-title {
    margin-bottom: 20px; }
  #clients-partners-isotopes-section .subtitle {
    color: #0b86a0;
    font-size: 20px; }
  #clients-partners-isotopes-section #clients-partners-filters ul {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; }
    #clients-partners-isotopes-section #clients-partners-filters ul li {
      padding: 5px 20px;
      display: inline-block; }
      #clients-partners-isotopes-section #clients-partners-filters ul li.active a {
        background: #0b86a0;
        color: #FFF; }
        #clients-partners-isotopes-section #clients-partners-filters ul li.active a:hover {
          color: #FFF; }
      #clients-partners-isotopes-section #clients-partners-filters ul li a {
        color: #999;
        display: block;
        padding: 2px 12px;
        background-color: #F5F4F4;
        text-decoration: none; }
        #clients-partners-isotopes-section #clients-partners-filters ul li a:hover {
          text-decoration: none;
          color: #0b86a0; }
  #clients-partners-isotopes-section #clients-partners-isotopes {
    text-align: center; }
    #clients-partners-isotopes-section #clients-partners-isotopes .clients-partners-item {
      width: 25%; }
      #clients-partners-isotopes-section #clients-partners-isotopes .clients-partners-item img {
        width: 100%; }
      #clients-partners-isotopes-section #clients-partners-isotopes .clients-partners-item .clients-partners-hover {
        background-color: rgba(45, 63, 81, 0.8);
        -webkit-transition: opacity .4s ease;
        transition: opacity .4s ease;
        opacity: 0;
        filter: alpha(opacity=0);
        padding: 20px;
        position: absolute;
        width: 100%;
        height: 100%;
        display: block; }
        #clients-partners-isotopes-section #clients-partners-isotopes .clients-partners-item .clients-partners-hover .table {
          height: 100%;
          display: table; }
          #clients-partners-isotopes-section #clients-partners-isotopes .clients-partners-item .clients-partners-hover .table .middle {
            vertical-align: middle;
            display: table-cell; }
            #clients-partners-isotopes-section #clients-partners-isotopes .clients-partners-item .clients-partners-hover .table .middle .description {
              font-size: 23px;
              color: #FFF; }
      #clients-partners-isotopes-section #clients-partners-isotopes .clients-partners-item:hover .clients-partners-hover {
        opacity: 1; }

/*# sourceMappingURL=utilities.css.map */
